<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Añadir productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="addItem()" class="ion-padding">
    <ion-item>
      <ion-label position="floating">Producto</ion-label>
      <ion-input type="text" name="element" [(ngModel)]="element"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit">Guardar</ion-button>
  </form>
</ion-content>
